# This includes files that will be ignored by git

# We want to include the package-lock.json file so that everyone is working
# with the same package files. This repository is not a dependency in other projects so this is ok.
# Reference for that decision:
# https://classic.yarnpkg.com/blog/2016/11/24/lockfiles-for-all/
# https://dev.to/gajus/stop-using-package-lock-json-or-yarn-lock-3ddi
# https://dev.to/saurabhdaware/but-what-the-hell-is-package-lock-json-b04

# Folders to ignore
.DS_Store
.idea

### Node Modules
node_modules

### VisualStudioCode
# Based on https://stackoverflow.com/a/57749909
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Typescript build folder
ts-out

# Build files to ignore
**/.eslintcache
**/.stylelintcache

# Error logs
npm-debug.log
yarn-error.log